body {
    font-family: Arial;
    background-color: #f0f8ff;
    padding: 20px;
}

h2 {
    color: darkgreen;
}

#studentData {
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
}